@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

:root {
    --color-primary: #029837;
    --color-secundary: #0B6822;
    --color-terciary: #9EE595;
    --color-white: #FFFFFF;
    --color-neutral-2: #F3F3F3;
    --color-azul-1: #000033;
    --color-black: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
    /* font-size: 62.5%; */
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}

.title-important {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.heading {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.head-1 {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;

    color: var(--color-azul-1);
}

.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 35.125rem;
    height: 7.5rem;


    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;

    color: var(--color-azul-1);
}

.top-sections {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;

    color: var(--color-secundary);

    text-transform: uppercase;
}

.paragraph {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: lighter;
    line-height: 24px;
}

.paragraph-1 {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

.paragraph-2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.paragraph-3 {
    color: rgba(0, 0, 0, 0.95);
    text-align: justify;

    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-weight: medium;
}

.cards-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.cards-text-green {
    color: var(--color-secundary);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: inherit;

    background-color: var(--color-white);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 4.25rem;
    margin-right: 4.25rem;

    gap: 0.625rem;
}

.header__logo {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.logo-text {
    font-family: 'Cinzel', serif;
    color: var(--color-secundary);
    font-size: 1.3rem;
    font-weight: normal;
}

.header__navigation {
    width: 19rem;
}

.header__navigation ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
}

.header__navigation a {
    text-decoration: none;
}

.navigation-text {
    font-family: 'Inter', sans-serif;
    color: var(--color-azul-1);
    font-size: 1.25rem;
}

.header__navigation a:hover {
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.header__contact {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.header__contact a {
    text-decoration: none;
}

.header__contact-number {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__contact-number p {
    color: var(--color-black);
}

.botao-primario {
    display: inline-flex;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1.25rem;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    border: none;

    background-color: var(--color-primary);
    color: var(--color-white);

    font-weight: 200;

    cursor: pointer;
}

.botao-primario:hover {
    background-color: var(--color-white);
    color: var(--color-black);

    transition: 0.3s;
}

.botao-secundario {
    display: inline-flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1.25rem;
    border: 1px solid var(--color-secundary);

    background-color: var(--color-white);
    color: var(--color-secundary);

    font-weight: 400;

    cursor: pointer;
}

.botao-secundario:hover {
    background-color: var(--color-secundary);
    color: var(--color-white);

    transition: 0.3s;
}

.inicio {
    width: inherit;
    background: linear-gradient(180deg, var(--color-white) 20.66%, var(--color-terciary) 100%);
}

.inicio__container {
    display: flex;
    padding: 9.375rem 12.5rem 5rem 12.5rem;

    align-items: center;
    justify-content: center;

    gap: 0.625rem;

    /* flex-wrap: wrap; */
}

.inicio__title {}

.inicio__title h1 {
    color: var(--color-secundary);
}

.inicio__title h2 {
    color: var(--color-secundary);
}

.know-me__container {
    background-color: var(--color-terciary);

    display: flex;
    padding: 0.625rem 7.5rem 2.5rem 7.5rem;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
}

.know-me__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.know-me__text_paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12rem;
}

.background-branch {
    position: absolute;
    left: -2.5625rem;
    top: 33.875rem;
    z-index: 1;
}

.about__topcorpus {
    background: var(--color-white);

    display: flex;
    padding: 3.25rem 6.9375rem 3rem 6.9375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
}

.topcorpus__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cards_whatis {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.topcorpus__card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;

}

.services {
    background: linear-gradient(180deg, var(--color-terciary) 0%, var(--color-white) 59.90%);
}

.services-head {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 1.5rem;
}

.services__text_head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
    width: 37.5rem;
}

.gallery {
    background: inherit;
}

.gallery-cell {
    width: 22rem;
    height: fit-content;
    margin-right: 24px;
    background: #8C8;

    display: flex;
    padding: 16px 16px 32px 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;

    border-radius: 20px;
    background: var(--neutro-2, rgba(243, 243, 243, 0.90));
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
}

.gallery-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}