@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
    --border-radius: 12px;

    --color-primary: #029837;
    --color-secundary: #0B6822;
    --color-terciary: #9EE595;
    --color-white: #FFFFFF;
    --color-neutral-2: #F3F3F3;
    --color-azul-1: #000033;
    --color-black: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
}

.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.title-important {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    font-weight: bold;
}

.heading {
    font-family: 'Inter', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.head-1 {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
}

.subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 35.125rem;
    height: 7.5rem;


    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;

    color: var(--color-azul-1);
}

.top-sections {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: medium;
}

.paragraph {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    line-height: 24px;
}

.paragraph-1 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.paragraph-2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.75rem;
}

.paragraph-3 {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: bols;
}

.cards-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;

    width: inherit;

    background-color: var(--color-white);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 4.25rem;
    margin-right: 4.25rem;

    gap: 0.625rem;
}

.header__logo {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.logo-text {
    font-family: 'Cinzel', serif;
    color: var(--color-secundary);
    font-size: 1.3rem;
    font-weight: normal;
}

.header__navigation {
    width: 19rem;
}

.header__navigation ul {
    list-style-type: none;

    display: flex;
    justify-content: space-between;
}

.header__navigation a {
    text-decoration: none;
}

.navigation-text {
    font-family: 'Inter', sans-serif;
    color: var(--color-azul-1);
    font-size: 1.25rem;
}

.header__navigation a:hover {
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.header__contact {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.header__contact a {
    text-decoration: none;
}

.header__contact-number {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__contact-number p {
    color: var(--color-black);
}

.botao-primario {
    display: inline-flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1.25rem;
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
    border: none;

    background-color: var(--color-primary);
    color: var(--color-white);

    font-weight: normal;

    cursor: pointer;
}

.botao-primario:hover {
    background-color: var(--color-white);
    color: var(--color-black);

    transition: 0.3s;
}

.botao-secundario {
    display: inline-flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    border-radius: 1.25rem;
    border: 1px solid var(--color-secundary);

    background-color: var(--color-white);
    color: var(--color-secundary);

    font-weight: 400;

    cursor: pointer;
}

.botao-secundario:hover {
    background-color: var(--color-secundary);
    color: var(--color-white);

    transition: 0.3s;
}

.inicio {
    width: inherit;
    background: linear-gradient(180deg, var(--color-white) 20.66%, var(--color-terciary) 100%);
}

.inicio__container {
    display: flex;
    padding: 9.375rem 12.5rem 5rem 12.5rem;

    align-items: center;
    justify-content: center;

    gap: 0.625rem;
}

.inicio__title {}

.inicio__title h1 {
    color: var(--color-secundary);
}

.inicio__title h2 {
    color: var(--color-secundary);
}